In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import joblib

In [4]:
# importar modelo pkl con joblib
model = joblib.load('../models/model.pkl')

In [5]:
inp = {'Gender' : 'Male', 'Credit_Score' : 520, 'loan_purpose' : 'p2', 'age' : '25-34', 'Region' : 'North'}
# generar un df from dict
inp = pd.DataFrame.from_dict(inp, orient='index').T

In [7]:
inp

  Gender Credit_Score loan_purpose    age Region
0   Male          520           p2  25-34  North